 /* list 组件 */
 .list-box{
    width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }