
      /* item组件 */
      .item{
        width: 155px;
        height: 150px;
        border: 1px solid #ddd;
         border-radius: 5px;
         margin: 1px;
         text-align: center;
      }
      .item img{
        width: 150px;
        height: 100px;
      }
      .item a{
        font-size: 20px;
        color: pink;
      }