/* list和item */
.todo-item{
    padding: 0 2px;
    width: 550px;
    height:20px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 2px;
    border:1px solid #ddd;
    margin: 2px auto;
    overflow: hidden;
}
