
           * {
            margin: 0;
            padding: 0;
        }

        /* 去除列表样式 */
        ul,ol {
            list-style: none;
        }

        /* a 标签去除下划线 */
        a {
            text-decoration: none;
        }

        /* 设置页面默认字体 */
        body {
            background-color: #ccc;
            font-family: Arial, sans-serif;
        }
        .container{
            width: 1000px;
            background-color: #fff;
             margin: 200px auto;
             padding: 50px 0;

        }
       .welcome{
        margin: 20px;
        text-align: center;
       }
     
   